<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="/jquery/jquery.js"></script>
    <script src="/jquery/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/javascript/script.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>

</head>
<body>
<div id="page-mask"></div>
<div class="welcomePart">
    <div class="wrapper">
        <h1 class="logo">MarkTheMarket</h1>
        <form action="/markTheMarket/findAllMarkets" method="post">
            <div class="searchBarAndSearchIcon">
                <ul class="searchBar">
                    <li class="separate left">
                        <select class="left" name="name">
                            <option class="option" name="name" value="Market Name">Market Name</option>
                            <option class="option" name="name" value="Tinex">Tinex</option>
                            <option class="option" name="name" value="Old Bazaar">Old Bazaar</option>
                            <option class="option" name="name" value="Farmers' Market">Farmers' Market</option>
                            <option class="option" name="name" value="Gama Market">Gama Market</option>
                            <option class="option" name="name" value="Zur Market">Zur Market</option>
                            <option class="option" name="name" value="Kipper">Kipper</option>
                            <option class="option" name="name" value="KAM">KAM</option>
                            <option class="option" name="name" value="Nova Market">Nova Market</option>
                            <option class="option" name="name" value="Fresh">Fresh</option>
                            <option class="option" name="name" value="My Market">My Market</option>
                            <option class="option" name="name" value="Camerons Market of Goods">Camerons Market of
                                Goods
                            </option>
                            <option class="option" name="name" value="Mel market">Mel market</option>
                            <option class="option" name="name" value="Damjance Prom Market">Damjance Prom Market
                            </option>
                            <option class="option" name="name" value="Dragstor Beti">Dragstor Beti</option>
                            <option class="option" name="name" value="Marvik">Marvik</option>
                            <option class="option" name="name" value="Kris Mari">Kris Mari</option>
                            <option class="option" name="name" value="Pucan Market">Pucan Market</option>
                            <option class="option" name="name" value="Market Frateli">Market Frateli</option>
                            <option class="option" name="name" value="Market ToGo">Market ToGo</option>
                            <option class="option" name="name" value="Reptil">Reptil</option>
                            <option class="option" name="name" value="CAM">CAM</option>
                            <option class="option" name="name" value="Ajvar Market">Ajvar Market</option>
                            <option class="option" name="name" value="Roleks">Roleks</option>
                            <option class="option" name="name" value="Se lis Market">Se lis Market</option>
                            <option class="option" name="name" value="Vero">Vero</option>
                            <option class="option" name="name" value="Bolero Pinguin">Bolero Pinguin</option>
                            <option class="option" name="name" value="Bottega del Gusto">Bottega del Gusto</option>
                            <option class="option" name="name" value="Harbin Supermarket">Harbin Supermarket</option>
                            <option class="option" name="name" value="DIA MARKET">DIA MARKET</option>
                            <option class="option" name="name" value="Ramstore">Ramstore</option>
                            <option class="option" name="name" value="Stokomak">Stokomak</option>
                            <option class="option" name="name" value="Dim">Dim</option>
                            <option class="option" name="name" value="Deni Market">Deni Market</option>
                            <option class="option" name="name" value="ER GROS">ER GROS</option>
                            <option class="option" name="name" value="Mercato">Mercato</option>
                            <option class="option" name="name" value="Kri kri">Kri kri</option>
                        </select>
                    </li>
                    <li class="separate">
                        <select name="type">
                            <option class="option" name="type" value="Market Type">Market Type</option>
                            <option class="option" name="type" value="Grocery store">Grocery store</option>
                            <option class="option" name="type" value="Farmers' market">Farmers' market</option>
                            <option class="option" name="type" value="Market">Market</option>
                            <option class="option" name="type" value="Hypermarket">Hypermarket</option>
                            <option class="option" name="type" value="Discount store">Discount store</option>
                            <option class="option" name="type" value="Discount supermarket">Discount supermarket
                            </option>
                            <option class="option" name="type" value="Fruit and vegetable store">Fruit and vegetable
                                store
                            </option>
                            <option class="option" name="type" value="Supermarket">Supermarket</option>
                        </select>
                    </li>
                    <li class="separate">
                        <select name="municipality">
                            <option class="option" name="municipality" value="Municipality">Municipality</option>
                            <option class="option" name="municipality" value="Chair">Chair</option>
                            <option class="option" name="municipality" value="Centar">Centar</option>
                            <option class="option" name="municipality" value="Shuto Orizari">Shuto Orizari</option>
                            <option class="option" name="municipality" value="Karposh">Karposh</option>
                            <option class="option" name="municipality" value="Butel">Butel</option>
                            <option class="option" name="municipality" value="Gazi Baba">Gazi Baba</option>
                            <option class="option" name="municipality" value="Aerodrom">Aerodrom</option>
                            <option class="option" name="municipality" value="Kisela Voda">Kisela Voda</option>
                            <option class="option" name="municipality" value="Gjorche Petrov">Gjorche Petrov</option>
                        </select>
                    </li>
                    <li class="separate right">
                        <select class="right" name="rating">
                            <option class="option" name="rating" value="Rating">Rating</option>
                            <option class="option" name="rating" value="1">1 stars</option>
                            <option class="option" name="rating" value="2">2 stars</option>
                            <option class="option" name="rating" value="3">3 stars</option>
                            <option class="option" name="rating" value="4">4 stars</option>
                            <option class="option" name="rating" value="5">5 stars</option>
                        </select>
                    </li>
                </ul>
                <div class="searchIcon">
                    <button id="searchButton"><i style="font-size:24px" class="fa">&#xf002;</i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="imgWrapper">
        <div class="intro">
            <h2>Mark your market...</h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda distinctio eaque eius eveniet
            hic magni nulla numquam obcaecati officiis, optio quo rerum similique sit sunt, suscipit tempora tenetur,
            voluptas.
        </div>
    </div>
</div>

<div class="separator background">
    <div>
        <h2>Fast</h2>
        <p>Breathe new life into your home<br>and sell last year’s go-tos.</p>
    </div>
    <div>
        <h2>Simple</h2>
        <p>Shop one-of-a-kind treasures<br>and all of your favorite brands. </p>
    </div>
    <div>
        <h2>Life changing</h2>
        <p>Shop in a blink of an eye<br> without ever leaving your home.</p>
    </div>
</div>

<div class="resultSection">
    <div class="generatedResult">
        <div class="row">
            <div class="separateResult inRow">Market Name</div>
            <div class="separateResult inRow">Market Type</div>
            <div class="separateResult inRow">Market Address</div>
            <div class="separateResult inRow">Municipality</div>
            <div class="separateResult inRow">Location</div>
            <div class="separateResult">Information</div>
        </div>
        <div class="row" th:each="market : ${filteredMarkets}">
            <div class="separateResult inRow" th:text="${market.name}">Tinex</div>
            <div class="separateResult inRow" th:text="${market.type}">Hypermarket</div>
            <div class="separateResult inRow" th:text="${market.address}">ul. Nikola Parapunov br.3-83</div>
            <div class="separateResult inRow" th:text="${market.municipality}">Aerodrom</div>
            <div class="separateResult">
                <a target="_blank" th:href="${market.locationLink}" class="tableButton"><i class="material-icons"
                                                                                           style="font-size: 30px">&#xe0c8;</i></a>
            </div>
            <div class="separateResult button">
                <button class="tableButton" th:id="infoButton"><i class="fa">&#xf05a;</i></button>
                <div class="side" style="display: none">
                    <span class="additionalInfoTitle">ADDITIONAL INFO:</span> <br>
                    <label><span class="additionalInfoTitle">working hours: </span> <span
                            th:text="${market.hours}"></span></label><br>
                    <label><span class="additionalInfoTitle">website: </span> <span th:text="${market.website}"></span></label><br>
                    <label><span class="additionalInfoTitle">number: </span> <span
                            th:text="${market.number}"></span></label> <br>
                    <label><span class="additionalInfoTitle">rating: </span> <span th:text="${market.rating}"></span>
                        <span class="additionalInfoTitle">reviews: </span> <span th:text="${market.reviews}"></span><br></label>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="myBtn" title="Go to top">↑</button>
</body>
</html>