<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="/jquery/jquery.js"></script>
    <script src="/jquery/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/javascript/script.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>

</head>
<body>
<div id="page-mask"></div>
<div class="welcomePart">
    <div class="wrapper">
        <h1 class="logo">MarkTheMarket</h1>
        <div class="searchBarAndSearchIcon">
            <ul class="searchBar">
                <li class="separate left">
                    <select class="left">
                        <option class="option" style="padding: 30px">Market Name</option>
                        <option class="option">tinex</option>
                        <option class="option">old bazaar</option>
                        <option class="option">farmers</option>
                        <option class="option">gama market</option>
                        <option class="option">zur</option>
                        <option class="option">kipper</option>
                        <option class="option">kam</option>
                        <option class="option">nova market</option>
                        <option class="option">fresh</option>
                        <option class="option">my market</option>
                        <option class="option">camerons market of goods</option>
                        <option class="option">mel market</option>
                        <option class="option">damjance prom market</option>
                        <option class="option">dragstor beti</option>
                        <option class="option">marvik</option>
                        <option class="option">kris mari</option>
                        <option class="option">pucan market</option>
                        <option class="option">market frateli</option>
                        <option class="option">reptil</option>
                        <option class="option">cam</option>
                        <option class="option">ajvar market</option>
                        <option class="option">rolex market</option>
                        <option class="option">se lis market</option>
                        <option class="option">vero</option>
                        <option class="option">bolero pinguin</option>
                        <option class="option">bottega del gusto</option>
                        <option class="option">harbin supermarket</option>
                        <option class="option">dia market</option>
                        <option class="option">ramstore</option>
                        <option class="option">stokomak</option>
                        <option class="option">dim</option>
                        <option class="option">deni market</option>
                        <option class="option">er gros</option>
                        <option class="option">mercato</option>
                        <option class="option">kri kri</option>
                    </select>
                </li>
                <li class="separate">
                    <select>
                        <option class="option">Market Type</option>
                        <option class="option">grocery store</option>
                        <option class="option">farmers' market</option>
                        <option class="option">market</option>
                        <option class="option">hypermarket</option>
                        <option class="option">discount Store</option>
                        <option class="option">discount supermarket</option>
                        <option class="option">fruit and vegetables store</option>
                        <option class="option">supermarket</option>
                    </select>
                </li>
                <li class="separate">
                    <select>
                        <option class="option">Municipality</option>
                        <option class="option">chair</option>
                        <option class="option">centar</option>
                        <option class="option">shuto orizari</option>
                        <option class="option">karposh</option>
                        <option class="option">budel</option>
                        <option class="option">gazi baba</option>
                        <option class="option">aerodrom</option>
                        <option class="option">kisela voda</option>
                        <option class="option">gjorche petrov</option>
                    </select>
                </li>
                <li class="separate right">
                    <select class="right">
                        <option class="option">Rating</option>
                        <option class="option">1 stars</option>
                        <option class="option">2 stars</option>
                        <option class="option">3 stars</option>
                        <option class="option">4 stars</option>
                        <option class="option">5 stars</option>
                    </select>
                </li>
            </ul>
            <div class="searchIcon">
                <a href="#result" id="searchButton"><i style="font-size:24px" class="fa">&#xf002;</i></a>
            </div>
        </div>
    </div>
    <div class="imgWrapper">
                 <!--<i class="material-icons">&#xe8d1;</i>-->
        <div class="intro">
            <h2>Mark your market...</h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda distinctio eaque eius eveniet hic magni nulla numquam obcaecati officiis, optio quo rerum similique sit sunt, suscipit tempora tenetur, voluptas.
        </div>
    </div>
</div>

<div class="separator background">
    <div>
        <h2>Fast</h2>
        <p>Breathe new life into your home<br>and sell last year’s go-tos.</p>
    </div>
    <div>
        <h2>Simple</h2>
        <p>Shop one-of-a-kind treasures<br>and all of your favorite brands. </p>
    </div>
    <div>
        <h2>Life changing</h2>
        <p>Shop in a blink of an eye<br> without ever leaving your home.</p>
    </div>
</div>

<div class="resultSection">
    <div class="generatedResult">
        <a id="result"></a>
        <div class="row">
            <div class="separateResult inRow">Market Name</div>
            <div class="separateResult inRow">Market Type</div>
            <div class="separateResult inRow">Market Address</div>
            <div class="separateResult inRow lastInRow">Municipality</div>
            <div class="separateResult button"></div>
            <div class="separateResult button">Information</div>
            <div class="separateResult button"></div>
        </div>
        <div class="row">
            <div class="separateResult inRow">Tinex</div>
            <div class="separateResult inRow">Hypermarket</div>
            <div class="separateResult inRow">ul. Nikola Parapunov br.3-83</div>
            <div class="separateResult inRow lastInRow">Aerodrom</div>
            <div class="separateResult button">
                <button class="tableButton"><i class="material-icons" style="font-size: 30px">&#xe0c8;</i></button>
            </div>
            <div class="separateResult button">
                <button class="tableButton" id="hoursButton"><i class="fa">&#xf1da;</i></button>
                <div id="dialog1">
                    <div class="dialogTitle">Working hours:</div>
                    <label>Monday:<br> <span>08:00h - 16:00h</span></label>
                </div>
            </div>
            <div class="separateResult button">
                <button class="tableButton" id="infoButton"><i class="fa">&#xf05a;</i></button>
                <div id="dialog2">
                    <div class="dialogTitle">Additional info:</div>
                    <label>website:<br> <span>www.website.com.mk</span></label>
                    <label>number:<br> <span>078555555</span></label>
                    <label>rating:<br> <span>5 star</span></label>
                    <label>reviews:<br> <span>80</span><br></label>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="myBtn" title="Go to top">↑</button>
</body>
</html>